# Ignore node_modules in frontend only
frontend/node_modules/

# Ignore system and editor files
frontend/.DS_Store
frontend/.gitkeep

# Ignore log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Ignore build directories
frontend/dist/
frontend/build/

# Ignore environment files
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Ignore cache files
frontend/.eslintcache
frontend/.stylelintcache
frontend/.cache/
frontend/.turbo/